<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.dao.PostTypeMapper" >
  <resultMap id="BaseResultMap" type="com.school.vo.PostType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="post_type" property="postType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, post_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from post_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectPostTypeAll" resultType="com.school.vo.PostType">
    select * from post_type;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from post_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.school.vo.PostType" >
    insert into post_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="postType != null" >
        post_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="postType != null" >
        #{postType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.school.vo.PostType" >
    update post_type
    <set >
      <if test="postType != null" >
        post_type = #{postType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>